.clock {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    bottom: 0;
    position: fixed;
    margin-right: 5px;
    text-shadow: 2px 2px black;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

    .clock .date {
        font-size: 1.8em;
        font-weight: bold;
        margin-top: -25px;
        color: #ffde3c;
        text-align: center;
    }

    .clock .time {
        font-size: 5em;
        font-family: 'Roboto', sans-serif;
    }

        .clock .time .ampm {
            font-size: 0.5em;
        }
