@page "/icons"
<h3>weather Icons</h3>

<div style="padding:30px">
    <IconWeather Name="w01d" Size="175" /><span>w01d</span>
    <IconWeather Name="w01n" Size="175" /><span>w01n</span>
    <IconWeather Name="w02d" Size="175" /><span>w02d</span>
    <IconWeather Name="w02n" Size="175" /><span>w02n</span>
    <IconWeather Name="w03d" Size="175" /><span>w03d</span>
    <IconWeather Name="w03n" Size="175" /><span>w03n</span>
    <IconWeather Name="w04d" Size="175" /><span>w04d</span>
    <IconWeather Name="w04n" Size="175" /><span>w04n</span>
    <IconWeather Name="w09d" Size="175" /><span>w09d</span>
    <IconWeather Name="w09n" Size="175" /><span>w09n</span>
    <IconWeather Name="w10d" Size="175" /><span>w10d</span>
    <IconWeather Name="w10n" Size="175" /><span>w10n</span>
    <IconWeather Name="w11d" Size="175" /><span>w11d</span>
    <IconWeather Name="w11n" Size="175" /><span>w11n</span>
    <IconWeather Name="w13d" Size="175" /><span>w13d</span>
    <IconWeather Name="w13n" Size="175" /><span>w13n</span>
    <IconWeather Name="w50d" Size="175" /><span>w50d</span>
    <IconWeather Name="w50n" Size="175" /><span>w50n</span>

</div>

