@page "/icons"

<h3>Weather Icons</h3>

<style>
	.w-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
	}
</style>

<div class=w-icons>
	<div><IconWeather Name="w01d" Size="125" /><div>w01d</div></div>
	<div><IconWeather Name="w01n" Size="125" /><div>w01n</div></div>
	<div><IconWeather Name="w02d" Size="125" /><div>w02d</div></div>
	<div><IconWeather Name="w02n" Size="125" /><div>w02n</div></div>
	<div><IconWeather Name="w03d" Size="125" /><div>w03d</div></div>
	<div><IconWeather Name="w03n" Size="125" /><div>w03n</div></div>
	<div><IconWeather Name="w04d" Size="125" /><div>w04d</div></div>
	<div><IconWeather Name="w04n" Size="125" /><div>w04n</div></div>
	<div><IconWeather Name="w09d" Size="125" /><div>w09d</div></div>
	<div><IconWeather Name="w09n" Size="125" /><div>w09n</div></div>
	<div><IconWeather Name="w10d" Size="125" /><div>w10d</div></div>
	<div><IconWeather Name="w10n" Size="125" /><div>w10n</div></div>
	<div><IconWeather Name="w11d" Size="125" /><div>w11d</div></div>
	<div><IconWeather Name="w11n" Size="125" /><div>w11n</div></div>
	<div><IconWeather Name="w13d" Size="125" /><div>w13d</div></div>
	<div><IconWeather Name="w13n" Size="125" /><div>w13n</div></div>
	<div><IconWeather Name="w50d" Size="125" /><div>w50d</div></div>
	<div><IconWeather Name="w50n" Size="125" /><div>w50n</div></div>
</div>
