@page "/weatherpicture"

@inherits WeatherBase

@if (CurrentWeather == null)
{
	if (string.IsNullOrEmpty(errorMessage) && !unauthorized)
	{
		<div class="loading"><img src="img/loading.gif" /></div>
	}
	else if (unauthorized)
	{
		<div class="error-unauthorized">
		 <Icon Name="Icon.IconType.EmojiSad" Size="40" Fill="red" />
		 <span>Error connectiong to the weather service.</span>
		 <p>Please verify that the Openweather has the right key.</p>
		 <p>If your browser has no permission for Location or is not supporting geolocation, try to enter a city manually.</p>
		 <a href="/apisettings" class="btn btn-secondary">Go to API Settings</a>
		</div>
	}
	else
	{
		<Icon Name="Icon.IconType.EmojiSad" Size="32" Fill="red" />
		<div class="error-mssg">@errorMessage</div>
	}
}
else
{
	<WeatherPicture CurrentWeather="@CurrentWeather" Units="@Units" OnClick="RefreshHandler" />
}