.weather{
}

table {
    width: 175px;
    text-align: right;
    border: solid 1px;
    font-size: 1.2em;
}
.temp {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    font-size: 3rem;
    margin-top: 15%;
}

.t1 .t2 {
    border: solid;
    padding: 15px;
    border-radius: 15px;
}
