/* /Features/Home/Clock.razor.rz.scp.css */
.clock[b-7kcap2mkhh] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--text-bg-color);
}
.time[b-7kcap2mkhh] {
    font-size: 3em;
}

.date[b-7kcap2mkhh] {
    color: aquamarine;
    font-size: 0.8em;
}
/* /Features/Home/TemperatureValues.razor.rz.scp.css */
.t1[b-304nkob0sg], .t2[b-304nkob0sg] {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--text-bg-color);
}
/* /Features/Home/Weather.razor.rz.scp.css */
.weather[b-hava5cs9gl] {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .weather .status[b-hava5cs9gl] {
        display: flex;
        align-items: center;
    }

.icon[b-hava5cs9gl] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

    .icon .place[b-hava5cs9gl] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        margin-top: -45px;
    }

table[b-hava5cs9gl] {
    width: 300px;
    text-align: right;
    font-size: 1.2em;
    margin: 30px;
}

    table .title[b-hava5cs9gl] {
        font-weight: bold;
    }
    table td:last-child[b-hava5cs9gl]{
        padding-right: 20px;
    }

.temp[b-hava5cs9gl] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 2.2em;
    margin-top: 5%;
}

.city[b-hava5cs9gl] {
    font-size: 1.1em;
}

.humid-wind[b-hava5cs9gl]{
    display:flex;
}
.humid-wind-val[b-hava5cs9gl] {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    flex-wrap: nowrap;
    margin: 3px;
}

    .humid-wind-val div[b-hava5cs9gl] {
        margin-left: 5px;
    }

.lastupd[b-hava5cs9gl] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.7em;
    cursor: pointer;
    align-items: flex-end;
}

.t1[b-hava5cs9gl], .t2[b-hava5cs9gl], .humid-wind-val[b-hava5cs9gl], .place[b-hava5cs9gl], table[b-hava5cs9gl] {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--text-bg-color);
    box-sizing: content-box;
}
/* /Features/Home/WeatherPage.razor.rz.scp.css */
.error-unauthorized[b-h9q0bxalhi] {
    color: lightyellow;
    font-size: 1.2em;
    padding: 30px;
}
/* /Features/Settings/ApiKey.razor.rz.scp.css */
.save[b-3yl495z0fu] {
    display: flex;
    margin-top: 4px;
    align-items: center;
}
.save button:last-child[b-3yl495z0fu]{
    margin-left:auto;
}
/* /Features/Temperatures/ScalePage.razor.rz.scp.css */
.templist[b-9o1hyhuoa3] {
    width: 90%;
    height: 80vh;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    margin: auto;
    overflow-y: scroll; /* Add the ability to scroll */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .templist[b-9o1hyhuoa3]::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.templist[b-9o1hyhuoa3] {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* /Features/Temperatures/ValuesDisplay.razor.rz.scp.css */
.values[b-kr5434ui2j] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 3px;
}
/* /Layout/Footer.razor.rz.scp.css */
.footer[b-41age8wks5] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--text-bg-color);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .footer div:last-child[b-41age8wks5] {
        margin-left: auto;
    }

.goto[b-41age8wks5] {
    margin: 15px;
    padding-right: 5px;
    cursor: pointer;
}
