@page "/values/temp"
@using BiDegree.Models
@using BiDegree.Shared.Measured
@inject StateContainer StateContainer

@if (measurement != null)
{
    <h4>@measurement.Name</h4>
    <BiDegree.Shared.Measured.MTemperature MeasuredTemp="measurement.Temperature" />
}


@code {
    private DeviceMeasurement measurement;

    protected override void OnInitialized()
    {
        var measurement = StateContainer.DeviceMeasurement;

        Console.WriteLine("M===> " + measurement);
    }
}
