<div class="values">
    <div>@Celsius °C</div>
    <div>@Fahrenheit °F</div>
</div>

@code {
    [Parameter] public float Value { get; set; }
    [Parameter] public string Unit { get; set; }

    protected string Fahrenheit { get; set; }
    protected string Celsius { get; set; }

    protected override void OnInitialized()
    {
        if (Unit.Equals("C", StringComparison.OrdinalIgnoreCase))
        {
            Fahrenheit = Value.ToFahrenheit();
            Celsius = Value.ToDecimal();
        }
        else
        {
            Celsius = Value.ToCelsius();
            Fahrenheit = Value.ToDecimal();
        }
    }
}
