<div class="values">
    @if (Units is UnitsType.Metric)
    {
        <div>@Celsius °C</div>
        <div>@Fahrenheit °F</div>
    }
    else
    {
        <div>@Fahrenheit °F</div>
        <div>@Celsius °C</div>
    }
</div>

@code {
    [Parameter] public float Value { get; set; }
    [Parameter] public UnitsType Units { get; set; }

    protected string Fahrenheit { get; set; }
    protected string Celsius { get; set; }

    protected override void OnInitialized()
    {
        if (Units is UnitsType.Metric)
        {
            Fahrenheit = Value.ToFahrenheit();
            Celsius = Value.ToDecimal();
        }
        else
        {
            Celsius = Value.ToCelsius();
            Fahrenheit = Value.ToDecimal();
        }
    }
}
