.values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 3px;
    max-width: 320px;
}
