@inject NavigationManager Navigation
@{
    var homePage = "";
    var scalePage = "scale";
    var activePage = Navigation.ToBaseRelativePath(Navigation.Uri);
}
<div class="footer">
    <div class="goto" @onclick="() => NavigateTo(homePage, true)">
        @if (string.IsNullOrEmpty(activePage))
        {
            <Icon Name="refresh" Size="32" Fill="white" />
        }
        else
        {
            <Icon Name="weather" Size="32" Fill="white" />
        }
    </div>
    <div class="goto" @onclick="() => NavigateTo(scalePage, false)">
        <Icon Name="scale" Size="32" Fill="white" />
    </div>
</div>
@code{ 
    private void NavigateTo(string page, bool forceLoad)
    {
        Navigation.NavigateTo($"{Navigation.BaseUri}{page}", forceLoad: forceLoad);
    }
}