@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="main">
        <div class="bg"></div>
            @Body
    </div>
</div>

<Footer/>
