/* /Features/Home/Clock.razor.rz.scp.css */
.time[b-wnoqvcruen] {
    font-size: 3em;
}

.date[b-wnoqvcruen] {
    color:aquamarine;
}
/* /Features/Home/HomePage.razor.rz.scp.css */
/* /Features/Home/Weather.razor.rz.scp.css */
.weather[b-96684oxpvc]{
}

table[b-96684oxpvc] {
    width: 175px;
    text-align: right;
    border: solid 1px;
    font-size: 1.2em;
}

/* Styles are based on icons from OpenWeather https://openweathermap.org/weather-conditions */
._01d[b-96684oxpvc] {
}
._01n[b-96684oxpvc]{
}
._02d[b-96684oxpvc] {
}
._02n[b-96684oxpvc] {
}
._03d[b-96684oxpvc] {
}
._03n[b-96684oxpvc] {
}
._04d[b-96684oxpvc]{
}
._04n[b-96684oxpvc]{
}
._09d[b-96684oxpvc] {
}
._09n[b-96684oxpvc] {
}
._10d[b-96684oxpvc] {
}
._10n[b-96684oxpvc] {
}
._11d[b-96684oxpvc] {
}
._11n[b-96684oxpvc] {
}
._13d[b-96684oxpvc] {
}
._13n[b-96684oxpvc] {
}
._50d[b-96684oxpvc] {
}
._50n[b-96684oxpvc] {
}
/* /Features/Temperatures/ScalePage.razor.rz.scp.css */
.templist[b-wxmnrlfyih] {
    width: 50%;
    height: 80vh;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    overflow-y: scroll; /* Add the ability to scroll */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .templist[b-wxmnrlfyih]::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.templist[b-wxmnrlfyih] {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* /Features/Temperatures/ValuesDisplay.razor.rz.scp.css */
.values[b-f0vfne1pra] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 3px;
    max-width: 320px;
}
/* /Layout/Footer.razor.rz.scp.css */
.footer[b-j3g254ij2c] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
}
