@using BiDegree.Models
@using BiDegree.Shared
@using System.Globalization
<div class="datetime">
    <Clock />
</div>

@code {
    [Parameter] public CurrentWeather CurrentWeather { get; set; }
    [Parameter] public UnitsType Units { get; set; }
}
