.datetime ::deep .clock {
    background: rgba(0, 0, 0, 0.4);
}

    .datetime ::deep .clock .date {
        font-size: 1.2em;
        margin-top: -15px;
    }

    .datetime ::deep .clock .time {
        font-size: 5em;
        font-family: fangsong;
    }

.goto {
    cursor: pointer;
    margin: 7px;
}

.temp {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: baseline;
    background: rgba(0, 0, 0, 0.4);
}

    .temp ::deep .t1 {
        background-color: transparent;
        font-size: 5em;
        font-family: fangsong;
    }

    .temp ::deep .t2 {
        background-color: transparent;
        font-size: 2em;
        font-family: fangsong;
    }
