@using BiDegree.Models
@using BiDegree.Shared
@using System.Globalization

@inherits WeatherBase
@inject NavigationManager Navigation

<div class="datetime goto" @onclick="() => NavigateTo(settingsPage, true)" title="Settings">
	<Clock />
</div>
<div class="temp">
	@if (CurrentWeather != null)
	{
		string weatherIcon = $"w{CurrentWeather.weather[0].icon}";
	 <IconWeather Name="@weatherIcon" Size="90" />
	 <TemperatureValues Value="CurrentWeather.main.temp" Units="Units" />
	}
</div>

@code {
	const string settingsPage = "settings";

	private void NavigateTo(string page, bool forceLoad)
	{
		Navigation.NavigateTo($"{Navigation.BaseUri}{page}", forceLoad: forceLoad);
	}
}
