.datetime ::deep .clock {
    background-color: transparent;
    padding: 0;
}

    .datetime ::deep .clock .date {
        color: #fbe491;
        font-size: 1.2em;
        margin-top: -15px;
    }

    .datetime ::deep .clock .time {
        font-size: 5em;
        font-family: fangsong;
    }
