@using BiDegree.Models
@using BiDegree.Shared
@using System.Globalization
@inject NavigationManager Navigation
<div class="datetime goto" @onclick="() => NavigateTo(settingsPage, true)" title="Settings">
	<Clock />
</div>

@code {
	[Parameter] public CurrentWeather CurrentWeather { get; set; }
	[Parameter] public UnitsType Units { get; set; }

	const string settingsPage = "settings";

	private void NavigateTo(string page, bool forceLoad)
	{
		Navigation.NavigateTo($"{Navigation.BaseUri}{page}", forceLoad: forceLoad);
	}
}
