@using BiDegree.Models
@using BiDegree.Shared
@using System.Globalization
@using Blazored.LocalStorage

@inherits WeatherBase
@inject NavigationManager Navigation


@if (IsVisibleClockComponent)
{
    Console.WriteLine("......." + IsVisibleClockComponent);
    <div class="datetime goto" @onclick="() => NavigateTo(settingsPage, true)" title="Settings">
        <Clock />
    </div>
}


@if (IsVisibleWeatherComponent && CurrentWeather != null)
{
    <div class="datetime goto" @onclick="() => NavigateTo(settingsPage, true)" title="Settings">
        <div class="temp">
            @{
                string weatherIcon = $"w{CurrentWeather.weather[0].icon}";
                <IconWeather Name="@weatherIcon" Size="90" />
                <TemperatureValues Value="CurrentWeather.main.temp" Units="Units" />
            }
        </div>
    </div>
}



@code {

    const string settingsPage = "settings";

    private void NavigateTo(string page, bool forceLoad)
    {
        Navigation.NavigateTo($"{Navigation.BaseUri}{page}", forceLoad: forceLoad);
    }
}
