@inject ILocalStorageService localStorage

<EditForm Model="@apiKey" OnValidSubmit="() => SaveApiKey()">
    <div class="form-group">
        <div class="info">
            To use this app you need an API key for the weather service.
            We use <b>OpenWeather</b>. You can get a free API Key from <a href="https://openweathermap.org/price">the openeathermap.org website.</a>
        </div>
        <label for="apiKeyData">OpenWeather API key:</label>
       @* <InputText id="apiKeyData" class="form-control" @bind-Value="ApiKeyValue" @onfocus="()=>ClearSavedMark()" />*@
        <div class="save">
            <Icon Name="Icon.IconType.Ok" Visible="Saved" Size="25" Fill="limegreen" />
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>
@code {
    protected string ApiKeyValue { get; set; }
    protected bool Saved { get; set; } = false;

    private ApiKey apiKey = new ApiKey();

@*    protected override async Task OnInitializedAsync()
    {
        ApiKeyValue = await GetApiKey();
    }

    protected async Task<string> GetApiKey()
    {
        return await localStorage.GetItemAsync<string>(Constants.KeyApiKey);

    }*@

    protected void ClearSavedMark()
    {
        Saved = false;
        StateHasChanged();
    }

    protected async Task SaveApiKey()
    {
        await localStorage.SetItemAsync(Constants.KeyApiKey, ApiKeyValue);
        //Saved = ApiKeyValue == await GetApiKey();
        StateHasChanged();
    }
}
