@inject ISyncLocalStorageService LocalStorage
<div class="date-time">
    <div class="clock-settings">
        <label for="timeShowSelector">Time format:</label>
        <select class="form-control" id="timeShowSelector" @bind="timeFormatSelection" @onfocus="()=>_saved=false">
            <option value="1">24 hs format</option>
            <option value="2">12 hs format (AM/PM)</option>
            <option value="0">Do not show the time</option>
        </select>
        <div class="info"></div>
    </div>
    <div class="clock-settings">
        <label for="dateShowSelector">Date format:</label>
        <select class="form-control" id="dateShowSelector" @bind="dateFormatSelection" @onfocus="()=>_saved=false">
            <option value="1">Date1: TUE, Set 23</option>
            <option value="2">Date2: Tuesday 23</option>
            <option value="3">Date3: Tuesday</option>
            <option value="4">Date4: 23 SEP 2021</option>
            <option value="5">Date5: SEP 23 2021</option>
            <option value="6">Date6: 23/09/21</option>
            <option value="7">Date7: 09/23/21</option>
            <option value="0">Do not show the date</option>
        </select>
        <div class="info"></div>
    </div>
    <div class="clock-settings">
        <Clock2 TimeFormat="_timeFormatSelection" DateFormat="_dateFormatSelection" />
    </div>
</div>

@code {
    private bool _saved { get; set; } = false;
    private bool _isDateVisible = true;
    private TimeFormatType _timeFormatSelection;
    private DateFormatType _dateFormatSelection;

    private byte timeFormatSelection
    {
        get => (byte)_timeFormatSelection;
        set
        {
            _timeFormatSelection = (TimeFormatType)value;
            SaveSettings();
        }
    }

    private byte dateFormatSelection
    {
        get => (byte)_dateFormatSelection;
        set
        {
            _dateFormatSelection = (DateFormatType)value;
            SaveSettings();
        }
    }

    protected override void OnInitialized()
    {
        _timeFormatSelection = LocalStorage.GetItem<TimeFormatType?>(Constants.KeyName_TimeFormat) ?? TimeFormatType.T24hs;
        _dateFormatSelection = LocalStorage.GetItem<DateFormatType?>(Constants.KeyName_DateFormat) ?? DateFormatType.Date1_xWD_M_D;
    }

    private void SaveSettings()
    {
        LocalStorage.SetItem(Constants.KeyName_TimeFormat, timeFormatSelection);
        LocalStorage.SetItem(Constants.KeyName_DateFormat, dateFormatSelection);
        _saved = true;
    }

}
