@inject ISyncLocalStorageService LocalStorage
<div class="form-group">
    <label for="timeShowSelector">Show the time format:</label>
    <select class="form-control" id="timeShowSelector" @bind="elapsed" @onfocus="()=>saved=false">
        <option value="1">24 hs</option>
        <option value="2">12 hs (AM/PM)</option>
        <option value="0">Do not display the time</option>
    </select>
    <div class="info">The time an picture will be showing before change to the next.</div>
    <div class="save">
        <Icon Name="Icon.IconType.Ok" Visible="saved" Size="25" Fill="limegreen" />
    </div>
</div>

@code {
    protected bool saved { get; set; } = false;

    private double _elapsed;
    private double elapsed
    {
        get => _elapsed;
        set
        {
            _elapsed = value;
            LocalStorage.SetItem(Constants.KeyName_ShowTime, elapsed);
            saved = true;
        }
    }

    protected override void OnInitialized()
    {
        _elapsed = LocalStorage.GetItem<double?>(Constants.KeyName_ShowTime) is null
        ? Constants.DefaultValue_ShowTime
        : LocalStorage.GetItem<double>(Constants.KeyName_ShowTime);
    }

}
