@inject ISyncLocalStorageService LocalStorage
<div class="form-group">
    <label for="timeShowSelector">Display time for the slide show:</label>
    <select class="form-control" id="timeShowSelector" @bind="elapsed" @onfocus="()=>saved=false">
        <option value="30">30 seconds</option>
        <option value="60">1 minute</option>
        <option value="90">1.5 minutes</option>
        <option value="120">2 minutes</option>
        <option value="180">3 minutes</option>
        <option value="240">4 minutes</option>
        <option value="300">5 minutes</option>
        <option value="420">7 minutes</option>
        <option value="600">10 minutes</option>
        <option value="900">15 minutes</option>
        <option value="1200">20 minutes</option>
        <option value="1800">30 minutes</option>
        <option value="2700">45 minutes</option>
        <option value="3600">1 hour</option>
        <option value="7200">2 hours</option>
        <option value="10800">3 hours</option>
        <option value="21600">6 hours</option>
        <option value="43200">12 hours</option>
        <option value="86400">24 hours</option>
    </select>
    <div class="info">The time an picture will be showing before change to the next.</div>
    <div class="save">
        <Icon Name="Icon.IconType.Ok" Visible="saved" Size="25" Fill="limegreen" />
    </div>
</div>

@code {
    protected bool saved { get; set; } = false;

    private double _elapsed;
    private double elapsed
    {
        get => _elapsed;
        set
        {
            _elapsed = value;
            LocalStorage.SetItem(Constants.ShowTime, elapsed);
            saved = true;
        }
    }

    protected override void OnInitialized()
    {
        _elapsed = LocalStorage.GetItem<double?>(Constants.ShowTime) is null
        ? Constants.DefaultShowTime
        : LocalStorage.GetItem<double>(Constants.ShowTime);
    }

}
