@page "/settings"
@inject NavigationManager NavManager
@inject ISyncLocalStorageService LocalStorage

<h3>Settings</h3>
<ul class="settings-group">
    <li><UnitSystem /></li>
    <li><RefreshTimer /></li>
    <li><CitySelection /></li>
    <li><PhotoFrameShowTime /></li>
    <li><StartPage /></li>
    <li><ApiKey /></li>
    <li><DriveApiKey /></li>

    <li class="about">
        <h4>BiDegree</h4>
        <p>2021</p>
        <p></p>
    </li>
</ul>

@code {
    private bool showApiKey = false;
    private string dapi = null;
    private string dfolder = null;

    protected override void OnInitialized()
    {
        NavManager.TryGetQueryString<bool>("showapikey", out showApiKey);
        NavManager.TryGetQueryString<string>(Constants.DriveKeyApiKey, out dapi);
        NavManager.TryGetQueryString<string>(Constants.DriveFolderId, out dfolder);

        if (!string.IsNullOrEmpty(dapi)) { LocalStorage.SetItem(Constants.DriveKeyApiKey, dapi); }
        if (!string.IsNullOrEmpty(dfolder)) { LocalStorage.SetItem(Constants.DriveFolderId, dfolder); }

    }

}
