@page "/settings"
@inject NavigationManager NavManager
<h3>Settings</h3>
<ul class="settings-group">
    <li><ApiKey /></li>
    <li><UnitSystem /></li>
    <li><RefreshTimer /></li>
    <li><CitySelection /></li>
    <li class="about">
        <h4>Bidegree</h4>
        <p>2021</p>
        <p></p>
    </li>
</ul>

@code {
    private bool _showApiKey = false;

    protected override void OnInitialized()
    {
        NavManager.TryGetQueryString<bool>("showapikey", out _showApiKey);
    }


}
