@page "/advancedsettings"
@inject NavigationManager NavManager
@inject ISyncLocalStorageService LocalStorage

<h3>Advanced Settings</h3>
<ul class="settings-group">
	<li><Advanced /></li>
	<li>
		<button class="btn btn-secondary" @onclick="() => GoToSettings()">
			<Icon Name="Icon.IconType.Settings" Size="40" Fill="white" />&nbsp;App Settings
		</button>
	</li>
</ul>
<About />

@code {
	private string openWeatherApi;
	private string driveApi;
	private string driveFolder;

	protected override void OnInitialized()
	{
		SetSettingsFromQueryString();
	}

	private void GoToSettings()
	{
		NavManager.NavigateTo($"{NavManager.BaseUri}settings", forceLoad: true);
	}


	private void SetSettingsFromQueryString()
	{
		NavManager.TryGetQueryString<string>(Constants.KeyName_WeatherApiKey, out openWeatherApi);
		NavManager.TryGetQueryString<string>(Constants.KeyName_DriveApiKey, out driveApi);
		NavManager.TryGetQueryString<string>(Constants.KeyName_DriveFolderId, out driveFolder);

		if (!string.IsNullOrEmpty(openWeatherApi)) { LocalStorage.SetItem(Constants.KeyName_WeatherApiKey, openWeatherApi); }
		if (!string.IsNullOrEmpty(driveApi)) { LocalStorage.SetItem(Constants.KeyName_DriveApiKey, driveApi); }
		if (!string.IsNullOrEmpty(driveFolder)) { LocalStorage.SetItem(Constants.KeyName_DriveFolderId, driveFolder); }

	}

}
