@inject ISyncLocalStorageService localStorage
<div class="form-group">
	<label for="uSelector">Time format:</label>
	<div class="check-selection units-selector">
		<label>12hs</label>
		<ToggleSwitch Id="tFormat" OnToggle="((isChecked)=>SaveSelection(isChecked))" SetAsChecked="isChecked" OnOffStyle="false" />
		<label>24hs</label>
	</div>
</div>
@code {
	private UnitsConfig unitsConfig = new UnitsConfig();

	private bool isChecked { get; set; } = false;

	protected override void OnInitialized()
	{
		var timeFormat = localStorage.GetItem<TimeFormatType?>(Constants.KeyName_TimeFormat);

		if (timeFormat == null)
		{
			timeFormat = TimeFormatType.T12hs;
		}

		isChecked = timeFormat == TimeFormatType.T24hs;
	}

	protected void SaveSelection(bool isChecked)
	{
		TimeFormatType timeFormat = isChecked ? TimeFormatType.T24hs : TimeFormatType.T12hs;
		localStorage.SetItem(Constants.KeyName_TimeFormat, timeFormat);
	}

	public class UnitsConfig
	{
		public TimeFormatType TimeFormat { get; set; }
		public bool isChecked { get; set; }
	}
}
