@inject ISyncLocalStorageService localStorage
<div class="form-group">
	<label for="uSelector">Time format:</label>
	<div class="check-selection units-selector">
		<label>24hs</label>
		<ToggleSwitch Id="tFormat" OnToggle="((isChecked)=>SaveSelection(isChecked))" SetAsChecked="isChecked" OnOffStyle="false" />
		<label>12hs</label>
	</div>
</div>
@code {
	private bool isChecked { get; set; } = false;

	protected override void OnInitialized()
	{
		isChecked = localStorage.GetItem<bool?>(Constants.KeyName_12HourClock) ?? false;
	}

	protected void SaveSelection(bool isChecked)
	{
		localStorage.SetItem(Constants.KeyName_12HourClock, isChecked);
	}

}
