@inject ILocalStorageService localStorage
<div class="form-group">
    <label for="uSelector">First show:</label>
    <div class="selector">
        <div class="unit-def">°C</div>
        <label class="switch">
            <input id="uSelector" type="checkbox" @bind="isChecked" @onclick="()=>SaveSelection(!isChecked)" />
            <span class="slider round"></span>
        </label>
        <div class="unit-def">°F</div>
    </div>
</div>
@code {
    private UnitsConfig unitsConfig = new UnitsConfig();

    private bool isChecked { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var units = await localStorage.GetItemAsync<UnitsType?>(Constants.KeyUnits);

        if (units == null)
        {
            units = UnitsType.Metric;
        }

        isChecked = units == UnitsType.Imperial;
    }


    protected async Task SaveSelection(bool isChecked)
    {
        UnitsType units = isChecked ? UnitsType.Imperial : UnitsType.Metric;

        await localStorage.SetItemAsync(Constants.KeyUnits, units);
    }

    public class UnitsConfig
    {
        public UnitsType Units { get; set; }
        public bool isChecked { get; set; }
    }
}
