@inject ISyncLocalStorageService localStorage
<div class="form-group settings">
	<label for="tUnits">First show:</label>

	<div class="check-selection units-selector">
		<label>&#8451;</label>
		<ToggleSwitch Id="tUnits" OnToggle="((isCheckedUnits)=>SaveUnitsSelection(isCheckedUnits))" SetAsChecked="isCheckedUnits" OnOffStyle="false" />
		<label>&#8457;</label>
	</div>

	<div class="check-selection">
		<ToggleSwitch Id="useBothTemps" OnToggle="((isCheckedBothTemps)=>SaveShowBothTemsSelection(isCheckedBothTemps))" SetAsChecked="isCheckedBothTemps" />
		<label for="useBothTemps">Show both Fahrenheit and Celsius.</label>
	</div>

</div>
@code {
	private bool isCheckedUnits;
	private bool isCheckedBothTemps { get; set; } = true;

	protected override void OnInitialized()
	{
		var units = localStorage.GetItem<UnitsType?>(Constants.KeyName_Units);
		var showBothTemps = localStorage.GetItem<bool?>(Constants.KeyName_ShowBothTemps);

		if (units is null) { units = UnitsType.Metric; }
		if (showBothTemps is null) { showBothTemps = true; }

		isCheckedUnits = units == UnitsType.Imperial;
		isCheckedBothTemps = (bool)showBothTemps;
	}

	protected void SaveUnitsSelection(bool isChecked)
	{
		UnitsType units = isChecked ? UnitsType.Imperial : UnitsType.Metric;
		localStorage.SetItem(Constants.KeyName_Units, units);
	}

	protected void SaveShowBothTemsSelection(bool isChecked)
	{
		localStorage.SetItem(Constants.KeyName_ShowBothTemps, isChecked);
	}
}
