::deep .unitsSelector .slider:before {
    content: "\00AB";
    color: dodgerblue;
}

::deep .unitsSelector input:checked + .slider:before {
    content: "\00BB";
    color: dodgerblue;
}

::deep .unitsSelector .slider, ::deep .unitsSelector input:checked + .slider {
    background-color: dodgerblue;
}

.check-selection label {
}

.check-selection.units-selector label {
    align-self: end;
    font-size: 1.8em;
    cursor: default;
}
