.photoframeItems {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.footer {
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
    background-color: silver;
}

.footer > ::deep .nav-menu{
    display: none;
}

    .footer:hover > .nav-menu{
        display: "";
        background-color:blue;
    }
