@inject ISyncLocalStorageService LocalStorage
<div class="form-group">
    <label for="timeSelector">Check the weather automatically every:</label>
    <select class="form-control" id="timeSelector" @bind="elapsed" @onfocus="()=>saved=false">
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="60">1 hour</option>
        <option value="180">2 hours</option>
        <option value="240">4 hours</option>
        <option value="480">8 hours</option>
        <option value="720">12 hours</option>
        <option value="0">Never - Manual refresh (when is available)</option>
    </select>
    <div class="info">Remember that automatic refresh may consume more data.</div>
    <div class="save">
        <Icon Name="Icon.IconType.Ok" Visible="saved" Size="25" Fill="limegreen" />
    </div>
</div>

@code {
    protected bool saved { get; set; } = false;
    
    private int _elapsed;
    private int elapsed
    {
        get => _elapsed;
        set
        {
            _elapsed = value;
            LocalStorage.SetItem(Constants.KeyName_RefreshTime, elapsed);
            saved = true;
        }
    }

    protected override void OnInitialized()
    {
        _elapsed = LocalStorage.GetItem<int?>(Constants.KeyName_RefreshTime) is null
        ? Constants.DefaultValue_Refresh
        : LocalStorage.GetItem<int>(Constants.KeyName_RefreshTime);
    }

}
