@page "/advancedsettings"
@inject NavigationManager NavManager
@inject ISyncLocalStorageService LocalStorage

<h3>Advanced Settings</h3>
<ul class="settings-group">
	<li><DebugMode /></li>
	<li><ShowClock /></li>
	<li><ShowWeather /></li>
	<li>
		<button class="btn btn-secondary" @onclick="() => GoToSettings()">
			<Icon Name="Icon.IconType.Settings" Size="40" Fill="white" />&nbsp;App Settings
		</button>
	</li>
</ul>
<About />

@code {
	private string openWeatherApi;
	private string driveApi;
	private string driveFolder;

	private void GoToSettings()
	{
		NavManager.NavigateTo($"{NavManager.BaseUri}settings", forceLoad: true);
	}

}
