#imageBox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

    #imageBox img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        -webkit-transition: opacity 3s ease-in-out;
        -moz-transition: opacity 3s ease-in-out;
        -o-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
    }

        #imageBox img.transparent {
            opacity: 0;
        }

.menu-footer {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.menu-footer:hover {
    background-color: darkblue;
    opacity:0.5;
}




