@inject NavigationManager NavigationManager
<div id="imageBox">
    <img id="imgBottom" />
    <img id="imgTop" />
</div>

@if (_debugMode)
{
    <div class="debug-mode">
        <table id="debug-items">
            <thead >
                <tr>
                    <th>Item</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Orientation</th>
                    <th>File Size (KB)</th>
                </tr>
            </thead>
            <tbody id="debugInfo">
            </tbody>
        </table>
    </div>
}

<div class="menu-footer" @onclick="GotoSettings"></div>

@code {
    private void GotoSettings()
    {
        NavigationManager.NavigateTo("settings", true);
    }
}
