@page "/photos"
@using BiDegree.Shared
@inject StateContainer StateContainer


<div class="weather">
    @if (DateFormat != DateFormatType.None || TimeFormat != TimeFormatType.None)
    {
        <Clock4 @ref="clock" DateFormat="DateFormat" TimeFormat="TimeFormat" />
    }

    @switch (StateContainer.DisplayItemType)
    {
        case DisplayItemType.Weather:
            <WeatherWidgetFull />
            break;
        default:
            if (TemperatureFormat != TemperatureFormatType.None)
            {
                <WeatherWidget />
            }
            break;
    }


</div>

<Slideshow @ref="slideshow" DebugMode="false" />





