@page "/photos"
@using BiDegree.Shared

<div class="weather">
    @if (DateFormat != DateFormatType.None || TimeFormat != TimeFormatType.None)
    {
        <Clock4 @ref="clock" DateFormat="DateFormat" TimeFormat="TimeFormat" />
    }

    @if (TemperatureFormat != TemperatureFormatType.None)
    {
        @*<WeatherWidget />*@
    }
    
    <WeatherWidgetFull />

</div>

<Slideshow @ref="slideshow" DebugMode="false" />





