@page "/photos"
@using BiDegree.Shared

<div class="weather">
    <Clock4 @ref="clock"  DateFormat="DateFormatType.Date1_xWD_M_D" TimeFormat="TimeFormatType.T12hs"/>
    <WeatherWidget />
</div>
@*<ImageShow />*@

<Slideshow @ref="slideshow" DebugMode="false" />

@*<PictureDisplay />*@


