@page "/photos"
@using BiDegree.Features.WeatherPanel

@*<div class="weather">
    <WeatherPanel />
</div>*@
@*<ImageShow />*@

<Clock4 @ref="clock" />
<Slideshow @ref="slideshow" DebugMode="false"/>

@*<PictureDisplay />*@


