<style>
    body {
        background-image: url("@ItemLink");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@if (isDebugMode)
{
    <div class="debug">
        @if (driveFileList != null)
        {
            <ul>

                @foreach (var driveFile in driveFileList.items)
                {
                    <li>@driveFile.webContentLink</li>
                }
            </ul>

            <hr />
            <ul>
                @foreach (var item in displayQueue)
                {
                    <li>@item.Key  -  @item.Value</li>
                }
            </ul>
        }
    </div>
}