.debug {
    color: #08f208;
    background-color: var(--text-bg-color);
    position: absolute;
    top: 0px;
    font-size: 0.85em;
    padding-left: 5px;
    padding-right: 10px;
}


    .debug button {
        background-color: #018aff29;
        width: 67px;
    }

#videoloop {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#cf {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

cf img {
    height: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
