.debug {
    color: #08f208;
    background-color: var(--text-bg-color);
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 0.85em;
}

    .debug ul li:first-child {
        list-style: none;
        text-decoration: underline;
    }
    .debug button {
        background-color: yellow;
        width: 67px;
    }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
