@using System.Reflection
<div class="about">
	<ul>
		<li>
			<h4>BiDegree</h4>
			<p>version @version</p>
			<p></p>
		</li>
	</ul>
</div>

@code
{
	private string version;

	protected override void OnInitialized()
	{
		version = Assembly.GetExecutingAssembly().
						GetCustomAttribute<AssemblyInformationalVersionAttribute>().
						InformationalVersion;

	}
}