.air-quality {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-shadow: none;
    font-weight: normal;
    color: black;
    font-size: .6rem;

    .color-scale {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        div {
            width: 20%;
            height: 7px;
        }
    }

    .name {
        width: 100%;
        text-align: center;
        height: 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 2px;
    }

    .good {
        background-color: #8eeb00;
        color: black;
    }

    .fair {
        background-color: yellow;
        color: black;
    }

    .moderate {
        background-color: orangered;
        color: white;
    }

    .poor {
        background-color: mediumvioletred;
        color: white;
    }

    .very-poor {
        background-color: darkred;
        color: white;
    }
}
