.air-quality {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-shadow: none;
  font-weight: normal;
  color: black;
  font-size: 0.6rem;
}
.air-quality .color-scale {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.air-quality .color-scale div {
  width: 20%;
  height: 7px;
}
.air-quality .name {
  width: 100%;
  text-align: center;
  height: 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 2px;
}
.air-quality .good {
  background-color: #8eeb00;
  color: black;
}
.air-quality .fair {
  background-color: yellow;
  color: black;
}
.air-quality .moderate {
  background-color: orangered;
  color: white;
}
.air-quality .poor {
  background-color: mediumvioletred;
  color: white;
}
.air-quality .very-poor {
  background-color: darkred;
  color: white;
}
