@using Blazored.LocalStorage
@inject IJSRuntime JsRunTime
@inject ILocalStorageService LocalStorage
@implements IDisposable

<div class="clock">
    <div class="time" @ref="timeDiv">00:00</div>
</div>
@code {

    ElementReference timeDiv;
    //private bool _is12hourClock;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool _is12hourClock = await LocalStorage.GetItemAsync<bool?>(Constants.KeyName_12HourClock) ?? false;
            await JsRunTime.InvokeVoidAsync("startTime", timeDiv, _is12hourClock);
        }
    }

    public void Dispose()
    {
        JsRunTime.InvokeVoidAsync("stopTime");
    }

}