<div class="@Class">
	<label class="switch">
		<input id="@Id" type="checkbox" @bind="IsOn" />
		<span class="slider round"></span>
	</label>
</div>

@code {
	[Parameter] public EventCallback<bool> OnToggle { get; set; }
	[Parameter] public string Id { get; set; }
	[Parameter] public string Class { get; set; }
	[Parameter] public bool InitialStatus { get; set; }

	private bool _isSettingUp;
	private bool _isOn;

	protected override Task OnInitializedAsync()
	{
		IsOn = InitialStatus;
		return base.OnInitializedAsync();
	}

	public bool IsOn
	{
		get => _isOn;
		set
		{
			_isOn = value;
			if (!_isSettingUp)
			{
				_isSettingUp = false;
				OnToggle.InvokeAsync(value);
			}
		}
	}

}