.tempWidget {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    padding: 10px;
    bottom: 0;
    position: fixed;
    right: 0;
    margin-right: 5px;
    text-shadow: 2px 2px black;
    font-family: 'Roboto', sans-serif;
}

    .tempWidget svg {
        margin-right: 10px;
    }

    .tempWidget ::deep .t1 {
        margin: 0 10px 0 10px;
        font-size: 5em;
    }

    .tempWidget ::deep .t2 {
        margin: 0 10px 0 10px;
        font-size: 3.7em;
    }
